<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="arketium Somos Valores, un nombre que representa los pilares fundamentales en los que nos apoyamos para crecer y evolucionar. 
    En nuestro enfoque, nos inspiramos en la creatividad inherente al arte. Creemos que nuestras soluciones alcanzan su máximo potencial cuando abrimos las puertas a enfoques creativos en todas sus dimensiones. La tecnología es el corazón de nuestra empresa. Es el centro desde el cual nos construimos y ayudamos a transformar a nuestros clientes. Además, valoramos lo clásico. Creemos en la evolución basada en el conocimiento y la experiencia. Reconocemos que se construye sobre cimientos sólidos, en lugar de buscar únicamente la explosión del caos.">
    <link rel="stylesheet" href="../sass/custom.css">
    <title>Artekium</title>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid"style="background-color: #d2691e">
          <a class="navbar-brand" href="../index.html"><span class="text primary fs-2 fw-bold text-white ">Artekium</span><alt="navbar"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active text-white" aria-current="page" href="../index.html">Inicio</a>
              <a class="nav-link text-white" href="../views/historia.html">Historia</a>
              <a class="nav-link text-white" href="../views/valores.html">Valores</a>
              <a class="nav-link text-white" href="../views/servicios.html">Servicios</a>
              <a class="nav-link text-white" href="../views/metodologia.html">Metodos</a>
              <a class="nav-link text-white" href="../views/equipo.html">Equipo</a>
              
              <a class="nav-link text-white" href= "../views/contacto.html">Contacto</a>
            </div>
          </div>
        </div>
      </nav>
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active d-flex align-items-center ">
            <img src="../assets/img/sliderequipo2.jpg" class="d-block w-100 h-50" alt="slide">
          </div>

          <div class="carousel-item">
            <img src="../assets/img/slide2.jpg" class="d-block w-100" alt="slide">
          </div>

          <div class="carousel-item">
            <img src="../assets/img/slide3.jpg" class="d-block w-100" alt="slide">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   <section class="w-75 mx-auto text-center" id="entrada">

<h1 class="p-3 fs-2 border-top border-3"><span> Blog proximamente</span></h1>

<p><span><div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Direccion de email:</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  
</div>
</span>
<form  action="../index.html">
  <input class="btn btn-outline-danger" type="submit" value="Enviar" />
</form>
<p></p>

   

</section>
   
   
      
    </div>
  </div>
  
    </div>


   </div></div>
   <footer class="bg-dark text-white">
    <div class="container py-4 text-center">
      <div class="row text text-center">
        <div class="col-sm-7 text-center">
          <h6>Mapa de sitio</h6>
          <a href="../views/historia.html" class="btn text-white">Historia</a>
          <a href="../views/valores.html" class="btn text-white">Valores</a>
          <a href="../views/servicios.html" class="btn text-white">Servicios</a>
          <a href="../views/metodologia.html" class="btn text-white">Metodos</a>
          <a href="../views/equipo.html" class="btn text-white">Equipo</a>
          
          <a href="../views/contacto.html" class="btn text-white">Contacto</a>
        </div>
        <div class="col-sm-5 text-center "> 
          <img src="../assets/img/logo.svg" alt="logo-footer" width="160" height="140">
          <p>Todos los derechos reservados @ 2023</p>
        </div>
      </div>
    </div>
  </footer>
    <script src="../js/bootstrap.min.js"> </script>
</body>
</html>