<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="arketium Toda nuestra experiencia al servicio de nuestros clientes, ofreciendo siempre lo mejor de cada uno, lo mejor de nosotros.">
    
    <link rel="stylesheet" href="../sass/custom.css">
    
    <title>Artekium</title>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid"style="background-color: #d2691e;>
          <a class="navbar-brand" href="#"><span class="text primary fs-2 fw-bold text-white ">Artekium</span><alt="navbar"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              <a class="nav-link" href="../views/historia.html">Historia</a>
              <a class="nav-link" href="../views/valores.html">Valores</a>
              <a class="nav-link" href="../views/servicios.html">Servicios</a>
              <a class="nav-link" href="../views/metodologia.html">Metodos</a>
              <a class="nav-link" href="#">Equipo</a>
              <a class="nav-link" href="#">Blog</a>
              <a class="nav-link disabled">Contacto</a>
            </div>
          </div>
        </div>
      </nav>
</head>
<body>
    
   <section class="w-50 mx-auto text-center" id="entrada">

<h3 class="p-3 fs-2 border-top border-3"><span>Toda nuestra experiencia al servicio de nuestros clientes, ofreciendo siempre lo mejor de cada uno, lo mejor de nosotros.</span></h3>

<p></section>
   
   <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <div class="container">
          <img src="../assets/img/evolucion.png" alt="evolucion" width="180" height="160">
          <h3>Evolución</h3>
          <p>Somos más que innovación porque somos desarrollo e investigación de manera continua, aprender y cuestionar lo aprendido, la búsqueda nunca termina.
            
            </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
            <img src="../assets/img/agil.png" alt="Agilidad" width="180" height="160">
            <h3>Agilidad</h3>
            <p>Células de trabajo cohesivas, enfocadas, autogestionadas, multidisciplinarias, abordando el proceso creativo de avanzar y refinar los modelos.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
            <img src="../assets/img/logro.png" alt="logros" width="180" height="160">
            <h3>Experiencia</h3>
            <p>Con muchísimas horas de vuelo, formamos un equipo de cuerpo joven y espíritu maduro, obsesionados por ir siempre más allá de los límites.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
            <img src="../assets/img/crecimiento.png" alt="crecimiento" width="180" height="160">
            <h3>Potencia</h3>
            <p>Somos 100% músculo tecnológico. La continua profundización sobre el saber es nuestro foco. La tecnología al servicio del negocio, sin distracciones.</p>
        </div>
      </div>

    </div>
  </div>
  
    </div>


   </div>
   <div id="carouselExampleIndicators" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active d-flex align-items-center ">
        <img src="../assets/img/slide4.jpg" class="d-block w-100 h-100" alt="slide">
      </div>

      <div class="carousel-item">
        <img src="../assets/img/slide5.jpg" class="d-block w-100" alt="slide">
      </div>

      <div class="carousel-item">
        <img src="../assets/img/slide6.jpg" class="d-block w-100" alt="slide">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





</div>

   <footer class="bg-dark text-white">
    <div class="container py-4 text-center">
      <div class="row text text-center">
        <div class="col-sm-7 text-center">
          <h6>Mapa de sitio</h6>
          <a href="index.html" class="btn text-white">Historia</a>
          <a href="historia.html" class="btn text-white">Valores</a>
          <a href="#" class="btn text-white">Servicios</a>
          <a href="#" class="btn text-white">Metodos</a>
          <a href="#" class="btn text-white">Equipo</a>
          <a href="#" class="btn text-white">Blog</a>
          <a href="#" class="btn text-white">Contacto</a>
        </div>
        <div class="col-sm-5 text-center "> 
          <img src="../assets/img/logo.svg" alt="logo-footer" width="160" height="140">
          <p>Todos los derechos reservados @ 2023</p>
        </div>
      </div>
    </div>
  </footer>
    <script src="../js/bootstrap.min.js"> </script>
</body>
</html>